@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f1f5f8;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: #0b304b;
  text-align: center;
  margin-top: 125px;
  font-weight: bold;
  text-transform: capitalize;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

form {
  display: flex;
  justify-content: space-between;
  width: auto;
  gap: 10px;
  margin-top: 30px;
}

input {
  width: 50px;
  height: 30px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 2px;
}

input::placeholder {
  color: black;
}

label {
  font-size: 17px;
  color: #0b304b;
  font-weight: bold;
  margin-right: 10px;
}

button {
  border: none;
  background-color: #0b304b;
  color: white;
  outline: none;
  border-radius: 3px;
  padding: 6px 15px;
  cursor: pointer;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  width: 50%;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  color: #0b304b;
  text-align: center;
}
